# Assignment 1: How often are Toyotas towed in Chicago?

### Author: Jacqueline Pezan
### Class: MSCA 37010 Programming For Analytics
### Date: 10-15-2021

In [3]:
# Open File
file = open("../../datasets/CityofChicago/Towed_Vehicles.csv", "r", encoding='utf8')
#[line for line in open(file, "r", encoding='utf8')][:10]

#ref for markdown extension 
# https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/nbextensions/python-markdown/readme.html

In [32]:
# Isolate Make Column & Varaibles From Dataset
make = {}
with file as csv: 
    for line in csv: 
        data = line.split(',')
        mk = data[1]
        if mk not in make: 
            make[mk] = 1
        else: 
            make[mk] += 1

In [37]:
# Sum of Total Cars
totalCars = sum(make.values())

# Get Make From Dataset 
toyotas = make["TOYT"]

In [38]:
print("Number of Toyotas:", toyotas)
print("Total Number of Cars Towed:", totalCars)

Number of Toyotas: 173
Total Number of Cars Towed: 2889

In [44]:
# Percent of Toyotas Rounded to One Decimal
percent_toyt = round((float(toyotas) / totalCars) * 100, 1)

In [43]:
print("Percentage of Toyotas: {}%".format(percent_toyt))

Percentage of Toyotas: 6.0%